.tituloPrincipal{
    margin-top: 10px;
    border-top: 1cm;
    border-bottom: 1cm;
    border-right: 1cm;
    border-left: 1cm;
    border-style: none;
    font-family: 'Explora', cursive;
    font-size: 120px;
    text-align: center;
    font-weight: bold;
    text-shadow: 10px 5px 7px gray;
}
.subI{
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-shadow: 10px 5px 7px gray;
}

.tarjetasInicio{
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.II{
    margin: 10px;
    width: 300px;
}


