/* responsive a mobile */
@media screen and (max-width: 570px){ 

    /* general */

    *{
        padding: 0;
        margin: 0;

    }
    h1{
        font-size: 30px;
    }

    h2{
        font-size: 20px;
    }

    h3{
        font-size: 15px;
    }

    body{    
        width:100%;
        overflow-x: hidden;
    }

    .nav1{
        margin: 0;
    }

    /* Inicio */

    .tituloPrincipal{
        font-size: 100px;
    }


    .subI{
        display: flex;
        text-align: center;
    }

    .tarjetasInicio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .II{
        width: 80%;
        margin-left: 0px;
        margin-right: 0px;
    }


    /* quien soy */
    
    #pQS{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        font-size: 20px;
        justify-content: center;

    }
    .imgQS{
        width: 80%;
        overflow-y: hidden;
    }

    .contenedorImg{
        display: flex;
        justify-content: center;
    }
    
    .contenedorTexto{
        display: flex;
        justify-content: center;
        
    }

    /* servicios */
    
    .asesorias{
        width: 80%;
    }

    /* galeria */
    
    .tImagen{
        display: flex;
        justify-content: center;
    }


}

